@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');;

*{
    font-family: 'nunito';
}

.mainContent{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button.start-quiz{
    padding: 5px 20px;
    border-radius: 2px;
    border: 1.5px solid black;
    outline: none;
    background-color: white;
    color: black;
    font-weight: 600;
}