.main-quiz-content{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items:center;
    border: 2px solid red;
    width: 100%;
}

.quiz-container{
    width : 60%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.quiz{
    width: 60%;
    margin: 10px 0;
    padding: 5px 20px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
}

h3.question-no{
    font-size: 15px;
}

h1.title{
    font-size: 60px;
}

p.option{
    border: 1.75px solid black;
    padding: 5px 10px;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

button{
    color:black;
    background-color: white;
    border: 0.5px solid black;
    padding: 5px 16px;
    outline: none;
    border-radius: 2px;
}